@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* ===========================
   Tailwind
=========================== */

@import "tailwindcss";

/* ===========================
   Project Styles
=========================== */

@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./animations.css";

/* ===========================
   Root
=========================== */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

/* ===========================
   Text Selection
=========================== */

::selection {
  background-color: var(--color-primary);
  color: #090909;
}

/* ===========================
   Scrollbar
=========================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}


.swiper-pagination {
    position: relative !important;
    margin-top: 40px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 28px;
    border-radius: 999px;
    background: #C89B3C;
}