@keyframes bottleFloat {
  0% {
    transform: translateY(0px) rotate(-2deg);
  }

  50% {
    transform: translateY(-18px) rotate(2deg);
  }

  100% {
    transform: translateY(0px) rotate(-2deg);
  }
}

.animate-bottle {
  animation: bottleFloat 6s ease-in-out infinite;
}